body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  font-family: Organic, 'Helvetica Neue', sans-serif, sans-serif;
  font-size: 1.5rem;
}

.padded-container {
  padding-top: 7rem;
}

.vertical-timeline-element--work .vertical-timeline-element-content {
  border-top: 3px solid #2196f3;
}

.vertical-timeline-element-icon .icon {
  margin-top: 2px;
  margin-left: 5px;
}

