body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  font-family: Organic, 'Helvetica Neue', sans-serif, sans-serif;
  font-size: 1.5rem;
}

.about-me {
  padding: 8em 0;
  background: #656d4a;
}

.vertical-timeline-element-date {
  font-size: 1.5rem!important;
}
